.hero-gacela-logo {
    display: none;
}

@media (max-width: 1024px) {
    .hero-gacela-logo {
        margin-top: -65px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 300px;
            text-align: center;
        }
    }

    .hero-title {
        display: none;
    }
}
